header{
    font-size: 25px;
    height:60px;
    width: auto;
    background-color: rgb(44, 139, 241);
    text-align: center;
    margin: 0;
    color: white;
}

.container{
    display: flex;
    flex-flow: row wrap;

    padding: 0 ;
}
.box{
    height:150px;
    width:150px;
    border-radius: 10px;
    background-color: rgb(195, 195, 195);
    color: gray;


    font-size: 25px;
    text-align: center;
    padding-top: 70px;

    margin: 10px;
    padding: 20px;

    
    
}